body {
  font-family: serif;
  line-height: 1.45;
}

code {
  font-family: monospace;
  font-size: 0.9em;
}

div.sourceCode {
  margin: 0.75em 0;
}

pre {
  margin: 0;
  padding: 0.75em;
  overflow-x: auto;
  line-height: 1.12;
}

pre code {
  line-height: inherit;
}

pre > code.sourceCode > span {
  display: inline;
  line-height: 1.12;
}

pre > code.sourceCode > span:empty {
  display: none;
  height: 0;
}
